* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    border-spacing: 0;
    border-collapse:collapse;
    border: 1px solid rgb(206, 200, 200);
}
tr
{
    border: 1px solid rgb(206, 200, 200);
}
.tr-head {
    background-color: rgb(94, 158, 94);
    color: white;
    margin: 0;
    border-spacing: 0;
    border-radius: 5px;
    border: 1px solid rgb(94, 158, 94);
}
.tr-row {
    color: black;

}

.tr-green {
    color: rgb(94, 158, 94);
}

th,td {
    width: 150px;
    height: 50px;
    text-align: left;
    padding-left: 20px;
}
